.navbar {
  padding: 3rem 3rem !important;
  transition:padding 1s;
  background-color: #2b3d4fff !important;
  z-index: 999999;
}

.navbar.scrolled {
  /* background-color: #222 !important; */
  padding: 1rem 3rem !important; /* تقليل البادينج بدلاً من تغيير الـ height */
}
  :root{
      --bs-white: #fff;
  }
  .navbar{
      --bs-navbar-brand-color: var(--bs-white);
      --bs-navbar-brand-hover-color:  var(--bs-white);
      --bs-navbar-hover-color:  var(--bs-white);
      --bs-navbar-color:  var(--bs-white);
      transition: all 0.3s ease-in-out;
    padding: 20px 0;
  }
  /* .navbar.scrolled {
      height: 4rem; 
      background-color: #222;
    } */
    .activeLink{
      background-color: #1abd9cff;
      padding: 7px;
      border-radius: 7px;
  
    }